<div style="
  color: red;
  /*font-weight: bold;*/
  background: aqua;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
">
  <div style="display: flex; gap: 20px;width: 100%">
    <div style="display: flex; width: 100%; justify-content: space-between">
      <p style="font-weight: bold">Đây là Header (app.component)</p>
      <div style="display: flex; gap: 20px">
        <p><a routerLink="/main">/main</a></p>
        <p><a routerLink="/card">/card</a></p>
        <p><a routerLink="/card/test">/card/test</a></p>
        <p><a routerLink="/standalone/my">/standalone/my</a></p>
        <p><a routerLink="/feature-mfe/foo">/feature-mfe/foo</a></p>
        <p><a routerLink="/feature-mfe/bar">/feature-mfe/bar</a></p>
      </div>
    </div>
  </div>
</div>

<div style="padding: 10px; margin: 10px; border: 1px dashed blue">
  <router-outlet></router-outlet>
</div>

