.container {
  display: block;
  border: solid 2px black;
  padding: 10px;
}


app-angular-2-wrapper {
  color: blue;
}

app-react-wrapper {
  color: blueviolet;
}

app-vue-wrapper {
  color: darkmagenta;
}
